* {
  box-sizing: border-box;
}

body {
    margin: 0px;
	padding: 0px;
	font-family: Calibri;
	background-color: green;
	
}

a:link {
	text-decoration: none;
}

.header {
	width: 100%;
	height: 555px;
	position: relative;
}

.logo img{
	height: 80px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 30px;
	background-color: white;
	z-index: 1;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	
}

nav ul {
	list-style-type: none;
	display: flex;
	margin: 0px;
	padding: 0px;
}

nav ul li a {
	height: 40px;
	line-height: 43px;
	margin: 8px;
	padding: 0px 10px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: black;
	letter-spacing: 1px;
}

nav ul li a:hover {
	border-radius: 5px;
	background-color: green;
	color: white;
	
}

/* Slideshow container */
.slideshow-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
}

.mySlides-img{
	width: 500px;
	height: 400px;
	margin: 20px;
}

.mySlides-img img {
	width: 500px;
	height: 400px;
	object-fit: contain;
	object-position: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideshow-text{
	width: 500px;
	margin: 20px;
	color: white;
}

.slideshow-text h1{
	font-size: 3.5rem;
	line-height: 55px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0px;
}

.slideshow-text h4{
	font-size: 1.2rem;
	line-height: 55px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0px;
	color: black;
}

.slideshow-text p{
	font-size: 1rem;
}


footer p {
	color: white;
}

footer {
	width: 100%;
	text-align: center;
	padding: 0px 5%;
	border-top: 1px solid white;
}

@media(max-width:1100px) {
	
	.header{
		height: 550px;
	}
	
	nav {
		justify-content: space-between;
		height: 65px;
	}
	
	.menu {
		display: none;
		position: absolute;
		top: 65px;
		left: 0px;
		background-color: white;
		border-bottom: 4px solid grey;
		width: 100%;
	}
	
	.menu li {
		width: 100%;
	}
	
	nav .menu li a {
		width: 100%;
		height: 48px;
		justify-content: center;
		align-items: center;
		margin: 0px;
		padding: 25px;
		border: 1px solid;
	}
	
	nav .menu-icon {
		cursor: pointer;
		float: right;
		padding: 28px 28px;
		position: relative;
		user-select: none;
	}
	
	nav .menu-icon .nav-icon {
		background-color: grey;
		display: block;
		height: 2px;
		position: relative;
		width: 18px;
	}
	
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after {
		background: black;
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
	}
	
	nav .menu-icon .nav-icon:before {
		top: 5px;
	}
	
	nav .menu-icon .nav-icon:after {
		top: -5px;
	}
	
	nav .menu-btn:checked ~ .menu-icon .nav-icon {
		background: transparent;
	}
	
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
		transform: rotate(-45deg);
		top: 0;
	}
	
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
		transform: rotate(45deg);
		top: 0;
	}
	
	nav .menu-btn{
		display: none;
	}
	
	nav .menu-btn:checked ~ .menu {
		display: block;
	}
	
	.logo {
		height: 95px;
	}
	
	.mySlides-img {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}
	
	
	.slideshow-text {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		height: 45vh;
		margin: 0px;
		margin-top: -120px;
	}
	
	.slideshow-text h1 {
		text-align: center;
		padding: 0px 20px;
		font-size: 2.5rem;
	}
	
	.slideshow-text p {
		text-align: center;		
	}
	
	footer {
		display: none;
	}
}

